/* Reset some basic elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.App {
  text-align: center;
}

.navbar {
  background-color: #000000;
  padding: 1rem;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar h1 {
  margin: 0;
  font-size: 1.5rem;
}

.container {
  margin-top: 80px; /* To give space for the navbar */
  padding: 20px;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

input[type="text"], input[type="number"] {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #000000;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3d3c3c;
}

.book-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.book-item {
  background-color: rgb(247, 247, 247);
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  text-align: left;
}

.book-item h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.book-item p {
  margin-bottom: 5px;
}

.book-item button {
  margin-right: 10px;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: -10px;
  margin-bottom: 10px;
}